# Unity generated
LastCartographer/[Ll]ibrary/
LastCartographer/[Tt]emp/
LastCartographer/[Oo]bj/
LastCartographer/[Bb]uild/
LastCartographer/[Bb]uilds/
LastCartographer/[Ll]ogs/
LastCartographer/[Uu]ser[Ss]ettings/
LastCartographer/[Mm]emoryCaptures/
LastCartographer/[Rr]ecordings/
LastCartographer/.vs/
LastCartographer/*.csproj
LastCartographer/*.sln
LastCartographer/*.user
LastCartographer/*.pidb
LastCartographer/*.booproj
LastCartographer/*.svd
LastCartographer/*.pdb
LastCartographer/*.mdb
LastCartographer/*.opendb
LastCartographer/*.VC.db
LastCartographer/crashlytics-build.properties
LastCartographer/ExportedObj/
LastCartographer/.consulo/
LastCartographer/Assets/AssetStoreTools*
LastCartographer/Assets/Plugins/Editor/JetBrains*
.idea/
# Blender
*.blend1
*.blend2
# Local
logs/
*.log
# Unity test runner scratch scene
LastCartographer/Assets/InitTestScene*
